<a href="https://colab.research.google.com/github/kevin-rego/Exploratory-Data-Analysis/blob/main/pandasRepair_Normalize.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
input_file = 'http://bit.ly/36gJKAM'
dataSet  = pd.read_csv(input_file, header=None)
dataSet.columns = ['C1','C2','C3','C4']
dataSet

     C1    C2    C3    C4
0  11.0  12.0  13.0  14.0
1   NaN  22.0   NaN  24.0
2   NaN   NaN  33.0   NaN
3  41.0  42.0  43.0   NaN
4   NaN  52.0   NaN  54.0
5  61.0  62.0  63.0   NaN
6   NaN  72.0  73.0  74.0
7  81.0  82.0  83.0  84.0

In [ ]:
dataSet.isnull().sum(axis = 0)

C1    4
C2    1
C3    2
C4    3
dtype: int64

In [ ]:
dataSet2 = dataSet.drop('C1', axis=1) 
dataSet2.shape

(8, 3)

In [ ]:
dataSet2.isnull().sum(axis = 1)

0    0
1    1
2    2
3    1
4    1
5    1
6    0
7    0
dtype: int64

In [ ]:
dataSet3 = dataSet2.drop(2, axis=0)

In [ ]:
dataSet3

     C2    C3    C4
0  12.0  13.0  14.0
1  22.0   NaN  24.0
3  42.0  43.0   NaN
4  52.0   NaN  54.0
5  62.0  63.0   NaN
6  72.0  73.0  74.0
7  82.0  83.0  84.0

In [ ]:
dataSet3.dropna()

     C2    C3    C4
0  12.0  13.0  14.0
6  72.0  73.0  74.0
7  82.0  83.0  84.0

In [ ]:
dataSet4 = dataSet3.copy() 
dataSet4

     C2    C3    C4
0  12.0  13.0  14.0
1  22.0   NaN  24.0
3  42.0  43.0   NaN
4  52.0   NaN  54.0
5  62.0  63.0   NaN
6  72.0  73.0  74.0
7  82.0  83.0  84.0

In [ ]:
dataSet4.C3

0    13.0
1     NaN
3    43.0
4     NaN
5    63.0
6    73.0
7    83.0
Name: C3, dtype: float64

In [ ]:
dataSet4.C3.interpolate (inplace=True)

In [ ]:
dataSet4.C4.interpolate (method='nearest', inplace=True); dataSet4.C4

0    14.0
1    24.0
3    54.0
4    54.0
5    54.0
6    74.0
7    84.0
Name: C4, dtype: float64

In [ ]:
dataSet5 = dataSet3.copy()
dataSet5.C3.fillna(dataSet5.C3.mean(), inplace=True)   
dataSet5

     C2    C3    C4
0  12.0  13.0  14.0
1  22.0  55.0  24.0
3  42.0  43.0   NaN
4  52.0  55.0  54.0
5  62.0  63.0   NaN
6  72.0  73.0  74.0
7  82.0  83.0  84.0

In [ ]:
dataSet5.columns = ['C1','C2','C3']
dataSet5

     C1    C2    C3
0  12.0  13.0  14.0
1  22.0  55.0  24.0
3  42.0  43.0   NaN
4  52.0  55.0  54.0
5  62.0  63.0   NaN
6  72.0  73.0  74.0
7  82.0  83.0  84.0

In [ ]:
dataSet5.fillna(value = dataSet5['C3'].mean(), inplace=True)

In [ ]:
dataSet5

     C1    C2    C3
0  12.0  13.0  14.0
1  22.0  55.0  24.0
3  42.0  43.0  50.0
4  52.0  55.0  54.0
5  62.0  63.0  50.0
6  72.0  73.0  74.0
7  82.0  83.0  84.0

In [ ]:
df_map = dataSet5.copy()
df_map.C2  = df_map.C2.map(
	lambda c: 'strong' if c > 60 else 'medium' if c > 40 else 'weak')

In [ ]:
df_map

     C1      C2    C3
0  12.0    weak  14.0
1  22.0  medium  24.0
3  42.0  medium  50.0
4  52.0  medium  54.0
5  62.0  strong  50.0
6  72.0  strong  74.0
7  82.0  strong  84.0

In [ ]:
from sklearn import preprocessing
dataSet5_scaled = preprocessing.scale(dataSet5); dataSet5_scaled

array([[-1.56501609, -2.00227144, -1.56163686],
       [-1.1436656 ,  0.        , -1.12784884],
       [-0.30096463, -0.57207755,  0.        ],
       [ 0.12038585,  0.        ,  0.17351521],
       [ 0.54173634,  0.38138504,  0.        ],
       [ 0.96308682,  0.85811633,  1.04109124],
       [ 1.38443731,  1.33484762,  1.47487926]])

In [ ]:
df = pd.DataFrame (dataSet5_scaled, columns=None)
df

          0         1         2
0 -1.565016 -2.002271 -1.561637
1 -1.143666  0.000000 -1.127849
2 -0.300965 -0.572078  0.000000
3  0.120386  0.000000  0.173515
4  0.541736  0.381385  0.000000
5  0.963087  0.858116  1.041091
6  1.384437  1.334848  1.474879

In [ ]:
df.std()
df.mean()

0   -2.220446e-16
1    3.172066e-17
2    3.172066e-17
dtype: float64

In [ ]:
df.describe()

                  0             1             2
count  7.000000e+00  7.000000e+00  7.000000e+00
mean  -2.220446e-16  3.172066e-17  3.172066e-17
std    1.080123e+00  1.080123e+00  1.080123e+00
min   -1.565016e+00 -2.002271e+00 -1.561637e+00
25%   -7.223151e-01 -2.860388e-01 -5.639244e-01
50%    1.203859e-01  0.000000e+00  0.000000e+00
75%    7.524116e-01  6.197507e-01  6.073032e-01
max    1.384437e+00  1.334848e+00  1.474879e+00

In [ ]:
preprocessing.MinMaxScaler().fit_transform(dataSet5)

array([[0.        , 0.        , 0.        ],
       [0.14285714, 0.6       , 0.14285714],
       [0.42857143, 0.42857143, 0.51428571],
       [0.57142857, 0.6       , 0.57142857],
       [0.71428571, 0.71428571, 0.51428571],
       [0.85714286, 0.85714286, 0.85714286],
       [1.        , 1.        , 1.        ]])